.hero{
    background-image: url(../../../img/istockphoto-1283583340-612x612.webp);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 110vh;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
}
/*Los titulos se van a la izquierda*/
.hero #heading h3{
    color: #fff;
}

.hero #heading{
    text-align: left;
    margin: 0;
    padding: 0;
}
/* Cuando se utiliza una pantalla de máximo 768 se cambia */
@media screen and (max-width:768px) {
    .margin{
        height: 40vh;
    }
    .hero{
        background-position: right;
        padding-top: 50%;
        height: 150vh;
    }
    .hero .row{
        width: 100%;
    }
}